OPENAI_API_KEY=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
ELEVEN_LABS_API_KEY=1f39e5031bd267cda6db6829a44d20b3e0dd4de1352acefaa49edfadad0c1419
